/* 
    * {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    } */

/* .item {
  background-color: #ffff;
  width: 100%;
} */
/* 
.collect {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
}

.product-image img{
    width: 100%;
    background-color: #ba88fbd6;

}



.name-price {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.name-price h4 {
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.buttons button {
  padding: 5px;
  border: none;
  background-color: blueviolet;
  color: #ffff;
  border-radius: 5px;
}

.buttons button a {
  color: #ffff;
  text-decoration: none;
} */
/* 
@media (max-width: 910px) {
  .collect {
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
  }
}
@media (max-width: 800px) {
  .name-price h5{

    font-size: 17px;
    font-weight: 500;
  
  }
  .name-price h4{

    font-size: 20px;
    font-weight: 500;
  }
  .buttons button {
  padding-top: 0px;
  }
  .buy a{
    font-size: 13px;
    font-weight: 500;
  }
 
  .cart a{
    font-size: 13px;
    font-weight: 500;
  }

  } */



/* ipad */
/* @media screen and (max-width: 650px) {
  .collect {
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
  }
 
 

 


} */

/* mobile */
/* @media screen and (max-width: 479px) {
  .collect {
    grid-template-columns: repeat(2, 1fr);
    gap: 0px;
  }
} */



/* Responsive layout */
/* @media (max-width: 768px) {
    .item {
        flex: 1 1 45%;
    }
}

@media (max-width: 480px) {
    .item {
        flex: 1 1 100%;
    }
} */

.
